*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    background-image: url('assets/bgr.jpg');
    background-size: cover;
  }
  
  .slider {
    margin:  10vh auto;
    max-width: 1440px;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
    border-radius: 20px;
    box-shadow:  16px 14px 10px rgb(34 30 80 / 62%);
  }
  .nav-controls{
    position: relative;
    z-index: 15;
    top: -3em;
    margin-left: auto;
    margin-right: 0;
    padding: 2rem;
    width:50%;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
  }
  .label-circ {
 cursor: pointer;
 display: inline-block;
 height: 30px;
 width: 30px;
 margin: 0.5em;
 position: relative;
 z-index: 15;
 border-radius: 50%;
 background:rgb(134, 148, 236);
 transition: all 0.4s ease;
}
.label-circ:hover{
  background:silver;
}

.label-circ:before{
  content: " ";
  display: block;
  height: 55px;
  width: 40px;
  left: -5px;
  top:-5px;
  position: absolute;
}
.label-circ:after {
 border: 2px solid rgb(134, 148, 236);
 content: " ";
 display: block;
 height: 30px;
 left: 0;
 position: absolute;
 z-index: 5;
 top: 0;
 width: 30px;
 border-radius: 50%;
}
.label-circ:hover::after{
  border:2px solid silver;
}
#slide1:checked ~ .nav-controls label:nth-of-type(1),
#slide2:checked ~ .nav-controls label:nth-of-type(2),
#slide3:checked ~ .nav-controls label:nth-of-type(3),
#slide4:checked ~ .nav-controls label:nth-of-type(4),
#slide5:checked ~ .nav-controls label:nth-of-type(5) {
  background: transparent;
  transform:scale(1.2);
}
  .slider__nav{display:none;}
  #slide1:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
  }
  #slide2:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
  }
  #slide3:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
  }
  #slide4:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
  }
  #slide5:checked:nth-of-type(5) ~ .slider__inner {
    left: -400%;
  }
 
  .slider__inner {
    position: relative;
    z-index: 5;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    transition: left 0.4s;
    display: flex;
    overflow:hidden;
  }
  .slider__contents {
    height: 100%;
    padding: 2rem;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    justify-content: center;
  }
  h2{
    font-weight: 500;
    margin: 2rem 0 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    opacity: 0.5;
    transition: 0.4s ease;
  }
  .slider__img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 10px 12px 7px 5px rgba(34, 60, 80, 0.19);
  }
  
  